<p id="notice"><%= notice %></p>

<h1>Listing Admin Permissions</h1>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Description</th>
      <th>Active</th>
      <th>Created by</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.label %></td>
        <td><%= permission.description %></td>
        <td><%= permission.active %></td>
        <td><%= permission.created_by %></td>
        <td><%= permission.created_at %></td>
        <td><%= link_to 'Show', permission %></td>
        <td><%= link_to 'Edit', edit_admin_permission_path(permission) %></td>
        <td><%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_admin_permission_path %>
