<p id="notice"><%= notice %></p>

<h1>Listing Password Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @password_questions.each do |password_question| %>
      <tr>
        <td><%= password_question.question %></td>
        <td><%= link_to 'Show', password_question %></td>
        <td><%= link_to 'Edit', edit_password_question_path(password_question) %></td>
        <td><%= link_to 'Destroy', password_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Password question', new_password_question_path %>
