<p id="notice"><%= notice %></p>

<h1>Listing User Passwords</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Service</th>
      <th>Password question</th>
      <th>Password answer</th>
      <th>Expires at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_passwords.each do |user_password| %>
      <tr>
        <td><%= user_password.user %></td>
        <td><%= user_password.service %></td>
        <td><%= user_password.password_question %></td>
        <td><%= user_password.password_answer %></td>
        <td><%= user_password.expires_at %></td>
        <td><%= link_to 'Show', user_password %></td>
        <td><%= link_to 'Edit', edit_user_password_path(user_password) %></td>
        <td><%= link_to 'Destroy', user_password, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User password', new_user_password_path %>
