<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_profile.user %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user_profile.gender %>
</p>

<p>
  <strong>Fname:</strong>
  <%= @user_profile.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @user_profile.lname %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user_profile.mobile %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user_profile.photo %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile.user_id) %> |
<%= link_to 'Back', user_profiles_path %>
