<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @role.label %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @role.active %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @role.created_by %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @role.created_at %>
</p>

<%= link_to 'Edit', edit_admin_role_path(@role) %> |
<%= link_to 'Back', admin_roles_path %>
